* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
}

.flex-box {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

.container {
	padding-right: 1em;
	padding-left: 1em;
}

main,
aside,
section,
figure,
footer,
div,
h1,
h2,
h3,
h4,
p,
hr {
	width: 100%;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
	margin: 0;
}

main {
	flex-direction: row;
	background-color: #f5f5f5;
}

body {
 background-color: lightgray;
}

.hidden {
	display: none;
}

i {
	padding-right: 10px;
}

.more-details {
	padding: 5px 0;
	font-size: 1.2em;
}

.more-details:hover {
	cursor: pointer;
}

/* Coding for the "card-1" starts here */
#card-1 {
	margin: 10px 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
	border-radius: 10px;
}

#card-1 figure {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	max-width: 320px;
	overflow: hidden;
	margin-bottom: 10px;
}

figure img {
	display: block;
	width: 100%;
	height: auto;
	border: 0.1em transparent;
	border-radius: 10px;
	vertical-align: middle;
}

/* Rules for the title */
.resume-title {
	text-align: center;
	font-size: 2.5em;
	color: white;
	padding: 5px;
	background-color: #222;
	border-radius: 5px;
	margin-bottom: 5px;
}

hr {
	margin: 0.5em 0;
}

/* Rules for the section-heading starts here */
#bio-container section {
	margin-bottom: 5px;
}

/* Rules for the "details" elements with child elements starts here*/
.details {
	padding: 5px 5px;
}

.details i {
	font-size: 1.4em;
}

.details span {
	font-size: 1.4em;
	padding: 5px 0;
}

/* Rules for the details segment in the "skills" section */

#skills .details {
	flex-direction: row;
}

.tech-logo {
	margin-right: 10px;
}

/*Code for the progress-bar starts here */
progress {
	-webkit-appearance: progress-bar;
	-moz-appearance: progress-bar;
	-ms-appearance: progress-bar;
	appearance: progress-bar;
	display: block;
	width: 80%;
	height: 15px;
	margin: 5px 0;
	border-radius: 2px;
	border: 0;
}

progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px #222;
}

progress::-moz-progress-bar {
	background-color: #008000;
	border-radius: 2px;
	box-shadow: 0 2px 5px #222;
}

progress::-ms-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px #222;
}

progress::-webkit-progress-value {
	background-color: green;
	border-radius: 2px;
}

progress::-moz-progress-value {
	background-color: green;
	border-radius: 2px;
}

.section-heading {
	font-size: 2em;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#section-container .section-heading {
	background-color: #222;
	color: #fff;
	border-radius: 5px;
}

#work-experience {
	margin: 0 0 1em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
	border-radius: 10px;
}

/* Code for the "article" starts here */

article {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.article-heading {
	font-size: 1.5em;
	padding: 5px 0;
}

.up-down {
	font-size: 1.2em;
	padding-right: 5px;
	font-weight: bold;
}

.job-items {
	margin-bottom: 10px;
}

.job-duration {
	padding: 5px 0;
	margin-right: 5px;
}

.job-duration i {
	font-size: 1.4em;
}

.duration {
	font-size: 1.4em;
}

.job-location {
	padding: 5px 0;
}

.job-location i {
	font-size: 1.4em;
}

.location-description {
	font-size: 1.4em;
}

.job-description {
	padding: 5px 0;
	font-size: 1.4em;
	line-height: 1.5;
}

/* Code for the "project" sections starts here */
#projects {
	margin: 0 0 1em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
	border-radius: 10px;
}

.project-duration {
	padding: 5px 0;
}

.project-duration i, 
.project-duration time {
	font-size: 1.4em;
}

.image-wrapper {
	max-width: 250px;
	max-height: 150px;
	margin: 1em 0;
}

.image-container {
	padding-bottom: 60%;
	position: relative;
}
.image-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px transparent;
	border-radius: 15px;
}

.project-description {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.4em;
	line-height: 1.5;
}

/* Code for the "Education" section starts here */

#online-education article,
#academic-education article {
	padding-top: 0;
}

.sub-section {
	padding-top: 10px;
}

#educaiton {
	margin: 0 0 1em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
	border-radius: 10px;
}

.sub-section-heading {
	font-size: 1.7em;
	padding: 5px 0;
	border-bottom: 1px solid black;
}

.edu-duration {
	padding: 5px 0;
}

.edu-duration i,
.edu-duration time {
	font-size: 1.4em;
}

.edu-location {
	padding: 5px 0;
}

.edu-location i {
	font-size: 1.4em;
}

.major {
	margin: 5px 0;
	line-height: 1.5;
}

.major .course,
.major .course-desc,
.major .major-head,
.major .major-desc {
	font-size: 1.4em;
}

/* Rules for the footer starts here */
footer {
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;
	background-color: #222;
	padding-bottom: 10px;
}

footer p {
	text-align: center;
	padding: 10px;
	font-size: 1.4em;
	font-weight: bold;
	color: white;
}

footer a {
	text-decoration: none;
	color: black;
}

.social-icons {
	font-size: 2em;
	padding: 0 10px;
}

.social-icons:hover {
	position: relative;
	bottom: 3px;
}

/* Fontawesome fonts color starts here */

/* Social media icons */
.fa-google-plus {
	color: #f34a38;
}

.fa-facebook {
	color: white;
}

.fa-twitter {
  color: #76a9ea;
}

.fa-linkedin {
	color: #0077b7;
}

.fa-github {
	color: #fff;
}

.fa-map-marker {
	color: red;
}

/* Media query for the big devices starts here */
@media screen and (max-width: 649px) {
	.company-logo {
		display: none;
	}

}

@media screen and (min-width: 650px) {
	.job-items {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
	}

	.company-logo {
		padding: 5px 5px;
		width: 55px;
	}

	.job-desc-items {
		padding-left: 10px;
		width: 80%;
	}
}

@media screen and (min-width: 551px) and (max-width: 919px) {
	#bio-container {
		flex-direction: row;
	}
	
	#contact-section,
	#lang-section {
		width: 50%;
	}

	#contact-section {
		order: -2;
	}

	#lang-section {
		order: -1;
	}

	#contact-section hr,
	#lang-section hr {
		width: 90%;
	}

}

/*@media screen and (min-width: 651px) and (max-width: 919px;) {
	#bio-container {
		flex-direction: row;
	}

	#contact-section,
	#skills,
	#lang-section {
		width: 33.33%;
	}	
}*/

@media screen and (min-width: 920px) {
	main {
		max-width: 1100px;
		margin: 0 auto;
	}

	aside {
		width: 30%;
	}

	#section-container {
		width: 70%;
		margin-top: 10px;
	}

	footer {
		width: 100%;
	}
}

/* Hiding the image below the 767px of the viewport size*/
@media screen and (min-width: 320px) and (max-width: 919px) {
	#card-1 figure {
		/*display: none;*/
		margin-left: auto;
		margin-right: auto;
	}
		
	/* Rules for the sectons in the card-1 starts here */
	
	#skills {
		flex-direction: row;
		/*justify-content: center;*/
	}

	#skills .details img,
	#skills .details span {
		display: block;
	}

	#skills .details img {
		margin: auto;
	}
}

/* Setting different breakpoints for the 'details' in the skill section */
@media screen and (min-width: 320px) and (max-width: 400px) {
	#skills .details {
		flex-direction: column;
		text-align: center;
		width: 30%;
	}
}

@media screen and (min-width: 401px) and (max-width: 600px){
	#skills .details {
		flex-direction: column;
		text-align: center;
		width: 20%;
		max-width: 80px;
	}
}

@media screen and (min-width: 601px) and (max-width: 919px){
	#skills .details {
		flex-direction: column;
		text-align: center;
		width: 15%;
		max-width: 80px;
	}
}

/* ------------------------------------------------------------------- */

/*@media screen and (min-width: 768px) {
	.resume-title {
		background-color: #fff;
		color: black;
		border-bottom: 1px solid black;
		border-radius: 0;
	}
}*/