* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
}

.flex-box {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

.container {
	padding: 0 0.5em;
}

main,
aside,
section,
figure,
footer,
div,
h1,
h2,
h3,
h4,
p,
hr {
	width: 100%;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
	margin: 0;
}

main {
	flex-direction: row;
}

body {
 background-color: lightgray;
}

/* Coding for the "card-1" starts here */
#card-1 {
	margin: 10px 0;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
}

#card-1 figure {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	border: 0.1em solid black;
	margin-top: 1em;
	height: auto;
	max-width: 320px;
	overflow: hidden;
}
figure img {
	display: block;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

/* Hiding the image below the 767px of the viewport size*/
@media screen and (max-width: 767px) {
	#card-1 figure {
		display: none;
	}
}

/* Rules for the title */
.resume-title {
	font-size: 3em;
	padding: 5px 0 0;
}

hr {
	margin: 0.5em 0;
}

/* Rules for the "details" elements with child elements starts here*/
.details {
	padding: 5px 0;
}

.details i {
	font-size: 1.4em;
	margin-right: 5px;
}

.details span {
	font-size: 1.4em;
	padding: 5px 0;
}

/*Code for the progress-bar starts here */
progress {
	-webkit-appearance: progress-bar;
	-moz-appearance: progress-bar;
	-ms-appearance: progress-bar;
	appearance: progress-bar;
	display: block;
	width: 80%;
	height: 15px;
	margin: 5px 0;
	border-radius: 2px;
	border: 0;
}

progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px #222;
}

progress::-moz-progress-bar {
	background-color: #008000;
	border-radius: 2px;
	box-shadow: 0 2px 5px #222;
}

progress::-ms-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px #222;
}

progress::-webkit-progress-value {
	background-color: green;
	border-radius: 2px;
}

progress::-moz-progress-value {
	background-color: green;
	border-radius: 2px;
}

.section-heading {
	font-size: 2em;
	padding: 5px 0;
}

#work-experience {
	margin: 10px 0;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
}

/* Code for the "article" starts here */

.article-heading {
	font-size: 1.5em;
	padding: 5px 0;
}

.job-duration {
	padding: 5px 0;
	margin-right: 5px;
}

.job-duration i {
	font-size: 1.4em;
	padding-right: 5px;
}

.duration {
	font-size: 1.4em;
}

.job-location {
	padding: 5px 0;
}

.job-location i {
	font-size: 1.4em;
	padding-right: 5px;
}

.description {
	font-size: 1.4em;
}

.job-description {
	margin: 10px 0;
	font-size: 1.4em;
	line-height: 1.5;
}

/* Code for the "project" sections starts here */
#projects {
	margin: 10px 0;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
}

.project-duration {
	padding: 5px 0;
}

.project-duration i {
	padding-right: 5px;
}

.project-duration i, 
.project-duration time {
	font-size: 1.4em;
}

.image-container {
	margin: 1em 0;
	max-width: 250px;
	overflow: hidden;
}
.image-container img {
	display: block;
	border: 1px solid black;
	border-radius: 15px;
}

.project-description {
	margin: 10px 0;
	font-size: 1.4em;
	line-height: 1.5;
}

/* Code for the "Education" section starts here */

#educaiton {
	margin: 10px 0;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
}

.sub-section-heading {
	font-size: 1.7em;
	padding: 5px 0;
}

.edu-duration {
	padding: 5px 0;
}

.edu-duration i {
	padding-right: 5px;
}

.edu-duration i,
.edu-duration time {
	font-size: 1.4em;
}

.edu-location {
	padding: 5px 0;
}

.major {
	margin: 10px 0;
	line-height: 1.5;
}

.major .course,
.major .course-desc,
.major .major-head,
.major .major-desc {
	font-size: 1.4em;
}

/* Media query for the big devices starts here */
@media screen and (min-width: 600px) {
	main {
		max-width: 960px;
		margin: 0 auto;
	}

	aside {
		width: 30%;
	}

	#section-container {
		width: 70%;
	}

	footer {
		width: 100%;
	}
}