* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
}

.flex-box {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

.container {
	padding: 0 0.5em;
}

main,
aside,
section,
figure,
footer,
div,
h1,
h2,
h3,
h4,
p,
hr {
	width: 100%;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
	margin: 0;
}

main {
	flex-direction: row;
}

/* Coding for the "card-1" starts here */
#card-1 figure {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	border: 0.1em solid black;
	margin-top: 1em;
	height: auto;
	max-width: 320px;
	overflow: hidden;
}
figure img {
	display: block;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

/* Hiding the image below the 767px of the viewport size*/
@media screen and (max-width: 767px) {
	#card-1 figure {
		display: none;
	}
}

/* Rules for the title */
.resume-title {
	font-size: 3em;
	padding: 5px 0 0;
}

hr {
	margin: 0.5em 0;
}

/* Rules for the "details" elements with child elements starts here*/
.details {
	padding: 5px 0;
}

.details i {
	font-size: 1.4em;
	margin-right: 5px;
}

.details span {
	font-size: 1.4em;
}


